.navbar-header .navbar-brand{
    font-family: 'Roboto Condensed';
    font-size: 30px;
    font-weight: bold;
    color: #000;
    height: 50px;
}

.navbar {
    background-color: #f5f5f5;
}

h1{
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;

    
}

.row .col-md-12{
    background-color:#cdd2fe;
    border: #000 solid 2px;

}

.row .col-md-12 p{
    font-size: 20px;
    text-align: left;
    font-family: 'Roboto Condensed';
}

.navbar-toggle{
    border: #000 solid 2px;
    color: aqua;
}
#bs-example-navbar-collapse-1 {
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    background-color: whitesmoke;
    font-size: 15px;
}

.drop-elem {
    border-top: black 1px solid;
}
.drop-elem1{
    border-bottom: black 1px solid;
}

.navbar-nav, .nav{
    margin: 0 0 0 0;
}

header .navbar {
    margin-bottom: 0;
}
.navbar-toggle  span, .navbar-toggle{
    border: black solid 2px !important;
    color: black;
}

@media (min-width: 768px){
    .navbar-nav li, .navbar-nav br{
        display: none;
    }
}
